{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draw a polygon and calculate its area</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">

    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


<div class="map" id="map"></div>

<div class="calculation-box">
    {# коробка слева в которой можно писать текст #}
    <p>Эм ну эм... тут будет формочка для параметров</p>
    <div>
        <div id="calculated-area"></div>
        <div id="spinner-loader" class="three-quarters-loader hidden"></div>
    </div>

    <button id="calc-button" class="disabled">Рассчитать</button>
</div>

<script src="{% static 'js/scripts.js' %}"></script>
<script type="module" src="{% static 'js/animations.js' %}"></script>
</body>
</html>
