{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Draw a polygon and calculate its area</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css"
          type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
<div class="flex">
    <div class="z-0 flex">
        <div class="map" id="map"></div>
    </div>


    <div class="z-10">
        <!-- obj creating form-->
        <div class="flex mt-10">
            <div class="bg-white shadow-2xl">
                <div class="m-8 font-mono">
                    <div>
                        <span class="">Время: </span>
                        <button class="w-16 bg-blue-500 shadow rounded" id="time-morning" disabled>Утро</button>
                        <button class="w-16 g-white shadow rounded" id="time-evening">Вечер</button>
                        <span class="" id="edits-text-span" hidden>Изменения: </span>
                        <button class="w-16 g-white shadow rounded" id="road-version" hidden>после</button>
                    </div>
                    <p class="text-3xl text-center">Здание</p>

                    <div>
                        <button id="build1" class="w-16 bg-blue-500 shadow rounded">1</button>
                        <button id="build2" class="w-16 g-white shadow rounded" disabled="true">2</button>
                        <button id="build3" class="w-16 g-white shadow rounded" disabled="true">3</button>
                        <button id="build4" class="w-16 g-white shadow rounded" disabled="true">4</button>
                        <button id="build5" class="w-16 g-white shadow rounded" disabled="true">5</button>
                    </div>
                    <p class="font-semibold text-2xl font-bold mt-10 text-center ">Основные параметры</p>
                    <form id="form" class="" method="post">

                        <input type="hidden" id="current-build" value="0">

                        <div class="mt-5" id="build-type">
                            <p class="text-lg w-32">Категория здания:</p>
                            <select class="border-2 rounded-lg">
                                <option></option>
                                <option value="Жилое помещение">Жилое помещение</option>
                                <option value="Офис">Офис</option>
                                <option value="Ресторан">Ресторан</option>
                                <option value="Торговый центр ">Торговый центр</option>
                            </select>
                            <div class="w-50">

                            </div>
                            <div id="build-area">
                                <div class="text-lg">Площадь здания:</div>
                                <input class="border-2 rounded-lg" type="number" size="17">
                            </div>

                        </div>
                        <p class="text-2xl mt-10 text-center font-bold ">Дополнительные параметры</p>

                        <div class="mt-5" id="d-people">
                            <p class="text-lg mt-5">Количество человек:</p>
                            <input class="border-2  rounded-lg" type="text" size="17">
                        </div>

                        <div class="mt-5" id="d-workers">
                            <p class="text-lg mt-5 ">Рабочие (в процентах):</p>
                            <input class="border-2 rounded-lg" type="text" size="17">
                        </div>
                        <div class="mt-5" id="is-on">
                            <label for="is-on-checkbox">Учитывать здание?</label>
                            <input id="is-on-checkbox" type="checkbox" name="xd" checked>
                        </div>


                        <div class="w-full mx-16">
                            <button id="calc-button"
                                    class="bg-opacity-80 mt-10 bg-sky-600 rounded-full hover:bg-opacity-100"
                                    type="submit">
                                <div class="text-xl my-2 mx-8 text-center font-medium font-bold">Рассчитать</div>
                            </button>
                        </div>
                    </form>

                    <div class="mt-5 grid place-items-center">
                        <div id="spinner-loader" class="hidden three-quarters-loader"></div>
                    </div>
                    <button id="test">Ебануть алгос</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/mapbox.js' %}"></script>
<script src="{% static 'js/api.js' %}"></script>
<script src="{% static 'js/forms.js' %}"></script>
<script src="{% static 'js/road-coloring-stuff.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script type="module" src="{% static 'js/animations.js' %}"></script>
</body>

</html>