{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Draw a polygon and calculate its area</title>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.10.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css"
        type="text/css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<div class="flex">
    <div class="z-0">
        <div class="map" id="map"></div>
    </div>

        <div class="z-10">
            <!-- obj creating form-->
            <div class=" flex justify-start">
                <div class=" bg-neutral-600 h-min">
                    <div class="m-8">

                        <div class="text-2xl font-medium mt-10 text-center text-white">Основные параметры</div>

                        <div class="mt-5">
                            <div class="text-lg mt-5 text-white">Категория здания:</div>
                            <form id="category-form" class="" method="post">
                                <select class="border-2  rounded-lg">
                                    <option enabled\></option>
                                    <option value="Жилое помещение">Жилое помещение</option>
                                    <option value="Офис">Офис</option>
                                    <option value="Ресторан">Ресторан</option>
                                    <option value="Торговый центр">Торговый центр</option>
                                </select>
                            </form>
                        </div>

                        <div class="mt-5">
                            <div class="text-lg mt-5 text-white">Количество этажей:</div>
                            <form id="floors-form" class="" method="post">
                                <input class="border-2  rounded-lg" type="number" size="17">
                            </form>
                        </div>

                        <div class="mt-5">
                            <div class="text-lg mt-5 text-white">Площадь этажа:</div>
                            <form id="square-form" class="" method="post">
                                <input class="border-2  rounded-lg" type="number" size="17">
                            </form>
                        </div>



                        <div>

                            <div class="text-2xl mt-10 text-center font-medium text-white">Дополнительные параметры
                            </div>






                            <div class="mt-5">
                                <div class="text-lg mt-5 text-white">Количество человек:</div>
                                <form id="d-people" class="" method="post">
                                    <input class="border-2  rounded-lg" type="text" size="17">
                                </form>
                            </div>

                            <div class="mt-5">
                                <div class="text-lg mt-5 text-white">Рабочие (в процентах):</div>
                                <form id="d-workers" class="" method="post">
                                    <input class="border-2  rounded-lg" type="text" size="17">
                                </form>
                            </div>

                        </div>

              <div id="spinner-loader" class="hidden three-quarters-loader"></div>
              <div>
                <button id="calc-button" class="mt-10 bg-yellow-500 rounded-full items-stretch disabled">
                    <div class="text-xl my-2 mx-8 text-center font-medium text-white">Рассчитать</div>
                  </button>
              </div>
                
                
                
            
            </div>
        <!-- <button id="calc-button" class="mt-10 bg-purple-500 bg-opacity-60 block mx-auto py-2 px-14 rounded-xl hover:bg-opacity-100">Save</button> -->
        </div>
    </div>


        <script src="{% static 'js/scripts.js' %}"></script>
        <script type="module" src="{% static 'js/animations.js' %}"></script>
</body>

</html>